<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="static/script.js"></script>
      <style>
        body  {
            background-image: url("/static/41340987_ml.jpg");
            background-color: #cccccc;
        }
        .btn-default {
            background-color: #D5D8DC !important;
        }
        </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse bg-inverse">
        <h1 style="margin-left:10px" class="text-primary">Select Your Attributes</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span id="genderVal">Select Gender</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="genderList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Male</a></li>
                      <li><a href="#">Female</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="ageVal">Select Age Group</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="ageList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Under 25</a></li>
                      <li><a href="#">25 and over</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="incomeVal">Select Income</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="incomeList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Early Career($)</a></li>
                      <li><a href="#">Mid-Career($)</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:100px">
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="raceVal">Select Race</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="raceList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">American Indian or Alaska Native</a></li>
                      <li><a href="#">Asian</a></li>
                      <li><a href="#">Black or African American</a></li>
                      <li><a href="#">Hispanic</a></li>
                      <li><a href="#">Native Hawaiian or Other Pacific Islander</a></li>
                      <li><a href="#">White</a></li>
                      <li><a href="#">Psychology</a></li>
                      <li><a href="#">Nonresident aliens</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="SatVal"> SAT vs ACT</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="SatList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">SAT</a></li>
                      <li><a href="#">ACT</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="dropdown">
                  <button class="btn btn-default bt-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="stateVal">In-state vs Outstate</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="stateList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">In-state</a></li>
                      <li><a href="#">Outstate</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:100px">
            <div class="col-xs-8">
                <div class="dropdown">
                  <button  class="btn btn-default bt-lg  dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span id="MajorVal">Select Major</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="majorList" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Communication  Journalism</a></li>
                      <li><a href="#">Computer and Information Sciences and Support Services</a></li>
                      <li><a href="#">Foreign Languages  Literatures  and Linguistics</a></li>
                      <li><a href="#">Biological and Biomedical Sciences</a></li>
                      <li><a href="#">Mathematics and Statistics</a></li>
                      <li><a href="#">Physical Sciences</a></li>
                      <li><a href="#">Psychology</a></li>
                      <li><a href="#">Social Sciences</a></li>
                      <li><a href="#">Health Professions and Related Programs</a></li>
                      <li><a href="#">History</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:100px">
            <div class="col-xs-4 pull-right">
                <button id="submitBtn" type="button" disabled="true" class="btn btn-warning btn-lg">
                  <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
  </body>
</html>